@{
    ViewBag.Title = "Çözümler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Çözümler</h1>
<img src="~/Content/img/resim.jpg" alt="resim" class="img-left" />
<p>
    Cras commodo lorem non elit iaculis, at consequat purus dictum. Sed cursus lectus dapibus commodo lacinia. Sed vitae facilisis ipsum, ut sollicitudin magna. Aenean euismod ut orci maximus tincidunt.
    Nullam cursus tellus ut felis molestie, sed accumsan justo dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies vestibulum est vitae tincidunt. Pellentesque a eros a odio vulputate iaculis et non ante. Phasellus massa ligula, vestibulum et odio sit amet, ultrices blandit nisl. In lacinia interdum sodales. Integer lectus nulla, viverra vitae bibendum a, iaculis id sapien. Suspendisse ac nibh dapibus, faucibus ex id, volutpat dui. Quisque a iaculis lacus, a tempor urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra sagittis dolor, sed iaculis erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>
<p>
    Ut at efficitur ex, ullamcorper euismod neque. Praesent tristique pulvinar ipsum at fringilla. Pellentesque nec dolor eu tellus semper finibus. Vestibulum non justo nunc. Integer rhoncus eros vel metus aliquet egestas.
    Praesent posuere ac orci sed rutrum. Phasellus ornare eros ex, non ultrices neque porttitor eu. Ut hendrerit, nulla eget tincidunt consectetur, risus neque venenatis est, et placerat arcu libero non ante. Nulla vulputate lorem sit amet sem euismod, sit amet imperdiet eros suscipit. Phasellus sed lobortis nisi.
</p>
<p>
    Morbi tincidunt molestie dui a venenatis. Curabitur vel mi eu nibh gravida feugiat in eget libero. Sed eu ultricies lorem. Vivamus mi purus, fringilla vitae mi vitae, pretium interdum sapien. Cras volutpat facilisis condimentum. Nulla eu quam maximus, euismod nisl vitae, blandit nisi. Quisque scelerisque finibus mauris ac mattis. Fusce in ultricies ligula. Morbi gravida vulputate elit, sit amet rhoncus tellus maximus in. Vestibulum convallis nisi lorem, sed interdum odio egestas hendrerit. Duis mollis sed ipsum at tempus.
</p>